@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

$title: "Anton", sans-serif;
$desc: "Roboto", sans-serif;
$content: "Noto Sans KR", sans-serif;
